<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="../static/css/headerFooter.css">
	<link rel="stylesheet" type="text/css" href="../static/css/about.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300,400,500,700,900&display=swap" rel="stylesheet">


	<title>О компании</title>
</head>
<body>


	<header class="center header">
		<div class="headerOuter">
			<nav class="header__nav">
				<a href="index.html" class="header__nav__link">ГЛАВНАЯ</a>
				<a href="#" class="header__nav__link">О КОМПАНИИ</a>
				<a href="products.html" class="header__nav__link">ПРОДУКЦИЯ</a>
				<a href="career.html" class="header__nav__link">КАРЬЕРА</a>
				<a href="contacts.html" class="header__nav__link">КОНТАКТЫ</a>
				<div class="header__rCont">
					<img src="../static/images/headerLogo.png" alt="" class="header__rCont__logo">
					<p class="header__rCont__text">Радиоэлектронные и оптические спецсистемы</p>
				</div>
			</nav>
		</div>
	</header>

<div class="main center">	
	<section class="aboutCompany">
		<h1 class="aboutCompany__title">ДАВАЙТЕ УЗНАЕМ ДРУГ ДРУГА!</h1>
		<div class="aboutCompany__content">
			<p class="aboutCompany__text"><b>АО «РОСС» существует с 1992 года.</b> За это время компания зарекомендовала себя надежным партнером, который предоставляет качественные услуги и продукцию в области разработки программно-аппаратных комплексов, предназначенных для высокоточного преобразования и обработки широкополосных аналоговых сигналов в цифровой форме. Мы проводим научно-исследовательские и опытно-конструкторские разработки, производим малогабаритные бескинематические системы и создаем программное обеспечение для высококачественной регистрации цифровой информации, а также для передачи ее по транспортным сетям с высокой скоростью.
			<br><br>
     		<b>Главная цель компании</b> реализовывать на самом высоком уровне поставленные заказчиком задачи. Этого она достигает благодаря команде высококвалифицированных специалистов.</p>		
			<div class="aboutCompany__imgCont">
				<img class="aboutCompany__img" src="../static/images/Свидетельство 151.638 - 0001.png" alt="">
			</div>		
		</div>
	</section>
	<section class="ourPhilosophy">
		<h2 class="ourPhilosophy__title">ФИЛОСОФИЯ НАШЕЙ КОМПАНИИ</h2>
		<p class="ourPhilosophy__text">
			<b>Мы видим свое призвание в том, чтобы стать ведущим поставщиком услуг по разработке программно-аппаратных комплексов, предназначенных для высокоточного преобразования и обработки широкополосных аналоговых сигналов в цифровой форме. </b>
		<br><br>
		Наша философия и подход к бизнесу основываются на трех столпах: наши клиенты, наши партнеры, наши сотрудники.
		<br><br>
		<b>Наши клиенты:</b>
		<br><br>
		     Основным нашим приоритетом является индивидуальный подход.
		     Наш основной принцип: каждый клиент имеет право на самое лучшее обслуживание.
		     Наш девиз: «Внимание к каждому».
		     Мы уверены - любая проблема решаема: у Вас есть задача, у нас есть решение!
		     Для наших клиентов мы предоставляем услуги и технику на уровне самых высоких мировых стандартов.
		     Мы заботимся о постоянном контакте с нашими клиентами для того, чтобы выявлять их запросы и, по возможности, лучше удовлетворять их.
		     Данные принципы доказали, что работая вместе, мы успешно создаем крепкое и долговечное партнерство.
		<br><br>
		<b>Наши партнеры:</b>
		<br><br>
		      За годы существования компании у нас появились стратегические партнеры в области разработки и производства печатных плат, создания программного обеспечения, производства серийной и штучной продукции. Нашей общей целью всегда было поддерживать высокий уровень услуг, который мы с радостью предлагаем своим клиентам.
		<br><br>
		<b>Наши сотрудники:</b>
		<br><br>
		       Наши сотрудники – это команда высококвалифицированных специалистов. Мы стараемся, чтобы каждый мог реализовать свой потенциал наилучшим образом и достичь своих целей в жизни.
		       Наша корпоративная культура основана на принципах доверия, духа единой команды, честности и уважения. Наша задача – сделать все, чтобы наши сотрудники имели высокую мотивацию к труду, были энергичны, преданы делу и стремились к совершенству в работе.</p>
	</section>
</div>



























<footer class="center">
	<ul class="footerNav">
		<li class="footerNav__item">
			<a href="index.html" class="footerNav__link">ГЛАВНАЯ</a>
		</li>
		<li class="footerNav__item">
			<a href="#" class="footerNav__link">О КОМПАНИИ</a>
		</li>
		<li class="footerNav__item">
			<a href="products.html" class="footerNav__link">ПРОДУКЦИЯ</a>
		</li>
		<li class="footerNav__item">
			<a href="career.html" class="footerNav__link">КАРЬЕРА</a>
		</li>
		<li class="footerNav__item">
			<a href="contacts.html" class="footerNav__link">КОНТАКТЫ</a>
		</li>
	</ul>
</footer>





</body>
</html>