<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="../static/css/headerFooter.css">
	<link rel="stylesheet" type="text/css" href="../static/css/career.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300,400,500,700,900&display=swap" rel="stylesheet">


	<title>Карьера</title>
</head>
<body>


	<header class="center header">
		<div class="headerOuter">
			<nav class="header__nav">
				<a href="index.html" class="header__nav__link">ГЛАВНАЯ</a>
				<a href="about.html" class="header__nav__link">О КОМПАНИИ</a>
				<a href="products.html" class="header__nav__link">ПРОДУКЦИЯ</a>
				<a href="#" class="header__nav__link">КАРЬЕРА</a>
				<a href="contacts.html" class="header__nav__link">КОНТАКТЫ</a>
				<div class="header__rCont">
					<img src="../static/images/headerLogo.png" alt="" class="header__rCont__logo">
					<p class="header__rCont__text">Радиоэлектронные и оптические спецсистемы</p>
				</div>
			</nav>
		</div>
	</header>

<div class="main center">
	<section class="development">
		<h1 class="development__title">КАРЬЕРА</h1>
		<p class="development__text">АО «РОСС» – российская стабильная динамично развивающаяся научно-производственная компания полного цикла, выполняющая научно-исследовательские, опытно-конструкторские работы и осуществляющая серийный выпуск программно-аппаратных комплексов регистрации и передачи по телекоммуникационным сетям широкополосных аналоговых сигналов в цифровой форме. <br><br>В настоящее время в компании открыто новое перспективное направление разработки систем видеомониторинга подвижных объектов.</p>
	</section>




	<section class="weSearch">
		<h2 class="weSearch__title">КОГО МЫ ИЩЕМ?</h2>















<div class="accordion">


	<div class="collapsible__wrapper">
	<button class="collapsible">Инженер-разработчик систем автоматического управления</button>
	<div class="content">
		<div class="collapsible__content__inner">
			<div class="accordion__card__body">
			  		<div class="accordion__card__info">
			  			<p class="accordion__card__info__title">Обязанности:</p>
			  			<p class="accordion__card__info__text">Моделирование систем управления в MATLAB и реализация (совместно с программистом микропроцессоров / микроконтроллеров) алгоритмов управления гиростабилизированным подвесом для телекамер, установленных на беспилотном летательном аппарате. </p>
			  			<p class="accordion__card__info__title">Требования:</p>
			  			<p class="accordion__card__info__text">- Высшее техническое образование в области систем автоматического управления.
						- Опыт моделирования систем автоматического управления (САУ) в Matlab/Simulink (наличие проектов, в которых была создана реальная работоспособная система).
						- Знание устройства ПИД регулятора, фильтра Калмана и их программной реализации на микропроцессоре. 
						- Умение решать прямую и обратную задачу по скорости и положению для произвольного манипулятора. Опыт моделирования в MATLAB.
						- Умение подобрать датчики обратной связи, двигатели и прочие элементы САУ.
						- Знание методов настройки и верификации математической модели и реальной САУ.
						- Понимание принципов работы интерфейсов UART, SPI, CAN, I2C.
						- Опыт в работе по созданию методов повышения характеристик точности, реализация методов с использованием измерительных стендов.
						- Желателен опыт программирования микропроцессоров Texas Instruments TMS C2000 и алгоритмов управления бесколлекторных двигателей.
						- Знание английского языка на уровне свободного чтения технической литературы.
						</p>
						<p class="accordion__card__info__title">Условия:</p>
			  			<p class="accordion__card__info__text">
							Офис ул. Авиамоторная, 26/5 в 5 мин. пешком от ст. м. Авиамоторная или ж/д платф. Новая.
							Официальное трудоустройство по ТК РФ, "белая" заработная плата.
							График работы 5/2 с 9.00 до 18.00 или плавающий с 8.00/9.00/10.00 до 17.00/18.00/19.00, также может обсуждаться удаленная занятость.
							Возможно профессиональное обучение за счет компании.
							Бесплатная охраняемая автостоянка.
							Оборудованное помещение для приема пищи, неограниченный кофе-брейк.
							Интересная корпоративная жизнь (праздники, выезды, спортивные мероприятия).
							Корпоративный фитнес и полис ДМС.
							Помощь при переезде (для иногородних соискателей).
						</p>
						<div class="question__container">
							<input type="text" class="question__input" placeholder="ФИО" id = "fio1">
							<input type="text" class="question__input" placeholder="Номер телефона" id="numberPhone1">
							<input type="text" class="question__input" placeholder="Почта" id="mail1">
							<label class="label question__file">
								<span class="question__file__title">Загрузите файл для производства и описание в формате: doc, pdf.
								</span>
							    <input type="file" id="file1">
							</label>
						</div>
						<button class="question__button" onclick="sendMailClick(getter,'1','1','1','1')">ОТПРАВИТЬ</button>
			  		</div>
			    
			  	</div>
			</div>
		</div>
	</div>




















	<div class="collapsible__wrapper">
	<button class="collapsible">Программист микропроцессоров / микроконтроллеров</button>
	<div class="content">
		<div class="collapsible__content__inner">
			<div class="accordion__card__body">
			  		<div class="accordion__card__info">
			  			<p class="accordion__card__info__title">Обязанности:</p>
			  			<p class="accordion__card__info__text">Моделирование систем управления в MATLAB и реализация (совместно с программистом микропроцессоров / микроконтроллеров) алгоритмов управления гиростабилизированным подвесом для телекамер, установленных на беспилотном летательном аппарате. </p>
			  			<p class="accordion__card__info__title">Требования:</p>
			  			<p class="accordion__card__info__text">- Высшее техническое образование в области систем автоматического управления.
						- Опыт моделирования систем автоматического управления (САУ) в Matlab/Simulink (наличие проектов, в которых была создана реальная работоспособная система).
						- Знание устройства ПИД регулятора, фильтра Калмана и их программной реализации на микропроцессоре. 
						- Умение решать прямую и обратную задачу по скорости и положению для произвольного манипулятора. Опыт моделирования в MATLAB.
						- Умение подобрать датчики обратной связи, двигатели и прочие элементы САУ.
						- Знание методов настройки и верификации математической модели и реальной САУ.
						- Понимание принципов работы интерфейсов UART, SPI, CAN, I2C.
						- Опыт в работе по созданию методов повышения характеристик точности, реализация методов с использованием измерительных стендов.
						- Желателен опыт программирования микропроцессоров Texas Instruments TMS C2000 и алгоритмов управления бесколлекторных двигателей.
						- Знание английского языка на уровне свободного чтения технической литературы.
						</p>
						<p class="accordion__card__info__title">Условия:</p>
			  			<p class="accordion__card__info__text">
							Офис ул. Авиамоторная, 26/5 в 5 мин. пешком от ст. м. Авиамоторная или ж/д платф. Новая.
							Официальное трудоустройство по ТК РФ, "белая" заработная плата.
							График работы 5/2 с 9.00 до 18.00 или плавающий с 8.00/9.00/10.00 до 17.00/18.00/19.00, также может обсуждаться удаленная занятость.
							Возможно профессиональное обучение за счет компании.
							Бесплатная охраняемая автостоянка.
							Оборудованное помещение для приема пищи, неограниченный кофе-брейк.
							Интересная корпоративная жизнь (праздники, выезды, спортивные мероприятия).
							Корпоративный фитнес и полис ДМС.
							Помощь при переезде (для иногородних соискателей).
						</p>
						<div class="question__container">
			<input type="text" class="question__input" placeholder="ФИО" id = "fio2">
			<input type="text" class="question__input" placeholder="Номер телефона" id="numberPhone2">
			<input type="text" class="question__input" placeholder="Почта" id="mail2">
			<label class="label question__file">
				<span class="question__file__title">Загрузите файл для производства и описание в формате: doc, pdf.
				</span>
			    <input type="file" id="file2">
			</label>
		</div>
		<button class="question__button" onclick="sendMailClick(getter,'2','2','2','2')">ОТПРАВИТЬ</button>
			  		</div>
			    
			  </div>
			</div>
		</div>
	</div>
		
























	<div class="collapsible__wrapper">
	<button class="collapsible">Программист встраиваемых систем</button>
	<div class="content">
		<div class="collapsible__content__inner">
			<div class="accordion__card__body">
			  		<div class="accordion__card__info">
			  			<p class="accordion__card__info__title">Обязанности:</p>
			  			<p class="accordion__card__info__text">Моделирование систем управления в MATLAB и реализация (совместно с программистом микропроцессоров / микроконтроллеров) алгоритмов управления гиростабилизированным подвесом для телекамер, установленных на беспилотном летательном аппарате. </p>
			  			<p class="accordion__card__info__title">Требования:</p>
			  			<p class="accordion__card__info__text">- Высшее техническое образование в области систем автоматического управления.
						- Опыт моделирования систем автоматического управления (САУ) в Matlab/Simulink (наличие проектов, в которых была создана реальная работоспособная система).
						- Знание устройства ПИД регулятора, фильтра Калмана и их программной реализации на микропроцессоре. 
						- Умение решать прямую и обратную задачу по скорости и положению для произвольного манипулятора. Опыт моделирования в MATLAB.
						- Умение подобрать датчики обратной связи, двигатели и прочие элементы САУ.
						- Знание методов настройки и верификации математической модели и реальной САУ.
						- Понимание принципов работы интерфейсов UART, SPI, CAN, I2C.
						- Опыт в работе по созданию методов повышения характеристик точности, реализация методов с использованием измерительных стендов.
						- Желателен опыт программирования микропроцессоров Texas Instruments TMS C2000 и алгоритмов управления бесколлекторных двигателей.
						- Знание английского языка на уровне свободного чтения технической литературы.
						</p>
						<p class="accordion__card__info__title">Условия:</p>
			  			<p class="accordion__card__info__text">
							Офис ул. Авиамоторная, 26/5 в 5 мин. пешком от ст. м. Авиамоторная или ж/д платф. Новая.
							Официальное трудоустройство по ТК РФ, "белая" заработная плата.
							График работы 5/2 с 9.00 до 18.00 или плавающий с 8.00/9.00/10.00 до 17.00/18.00/19.00, также может обсуждаться удаленная занятость.
							Возможно профессиональное обучение за счет компании.
							Бесплатная охраняемая автостоянка.
							Оборудованное помещение для приема пищи, неограниченный кофе-брейк.
							Интересная корпоративная жизнь (праздники, выезды, спортивные мероприятия).
							Корпоративный фитнес и полис ДМС.
							Помощь при переезде (для иногородних соискателей).
						</p>
						<div class="question__container">
			<input type="text" class="question__input" placeholder="ФИО" id = "fio3">
			<input type="text" class="question__input" placeholder="Номер телефона" id="numberPhone3">
			<input type="text" class="question__input" placeholder="Почта" id="mail3">
			<label class="label question__file">
				<span class="question__file__title">Загрузите файл для производства и описание в формате: doc, pdf.
				</span>
			    <input type="file" id="file3">
			</label>
		</div>
		<button class="question__button" onclick="sendMailClick(getter,'3','3','3','3')">ОТПРАВИТЬ</button>
			  		</div>
			    
			  </div>
			</div>
		</div>
	</div>




	
			  	
				










	<div class="collapsible__wrapper">
	<button class="collapsible">Монтажник РЭА</button>
	<div class="content">
		<div class="collapsible__content__inner">
			
			  	<div class="accordion__card__body">
			  		<div class="accordion__card__info">
			  			<p class="accordion__card__info__title">Обязанности:</p>
			  			<p class="accordion__card__info__text">Моделирование систем управления в MATLAB и реализация (совместно с программистом микропроцессоров / микроконтроллеров) алгоритмов управления гиростабилизированным подвесом для телекамер, установленных на беспилотном летательном аппарате. </p>
			  			<p class="accordion__card__info__title">Требования:</p>
			  			<p class="accordion__card__info__text">- Высшее техническое образование в области систем автоматического управления.
						- Опыт моделирования систем автоматического управления (САУ) в Matlab/Simulink (наличие проектов, в которых была создана реальная работоспособная система).
						- Знание устройства ПИД регулятора, фильтра Калмана и их программной реализации на микропроцессоре. 
						- Умение решать прямую и обратную задачу по скорости и положению для произвольного манипулятора. Опыт моделирования в MATLAB.
						- Умение подобрать датчики обратной связи, двигатели и прочие элементы САУ.
						- Знание методов настройки и верификации математической модели и реальной САУ.
						- Понимание принципов работы интерфейсов UART, SPI, CAN, I2C.
						- Опыт в работе по созданию методов повышения характеристик точности, реализация методов с использованием измерительных стендов.
						- Желателен опыт программирования микропроцессоров Texas Instruments TMS C2000 и алгоритмов управления бесколлекторных двигателей.
						- Знание английского языка на уровне свободного чтения технической литературы.
						</p>
						<p class="accordion__card__info__title">Условия:</p>
			  			<p class="accordion__card__info__text">
							Офис ул. Авиамоторная, 26/5 в 5 мин. пешком от ст. м. Авиамоторная или ж/д платф. Новая.
							Официальное трудоустройство по ТК РФ, "белая" заработная плата.
							График работы 5/2 с 9.00 до 18.00 или плавающий с 8.00/9.00/10.00 до 17.00/18.00/19.00, также может обсуждаться удаленная занятость.
							Возможно профессиональное обучение за счет компании.
							Бесплатная охраняемая автостоянка.
							Оборудованное помещение для приема пищи, неограниченный кофе-брейк.
							Интересная корпоративная жизнь (праздники, выезды, спортивные мероприятия).
							Корпоративный фитнес и полис ДМС.
							Помощь при переезде (для иногородних соискателей).
						</p>
						<div class="question__container">
			<input type="text" class="question__input" placeholder="ФИО" id = "fio4">
			<input type="text" class="question__input" placeholder="Номер телефона" id="numberPhone4">
			<input type="text" class="question__input" placeholder="Почта" id="mail4">
			<label class="label question__file">
				<span class="question__file__title">Загрузите файл для производства и описание в формате: doc, pdf.
				</span>
			    <input type="file" id="file4">
			</label>
		</div>
		<button class="question__button" onclick="sendMailClick(getter,'4','4','4','4')">ОТПРАВИТЬ</button>
			  		</div>
			    
			  </div>

			</div>
		</div>
	</div>
















	<div class="collapsible__wrapper">
	<button class="collapsible">Регулировщик РЭА</button>
	<div class="content">
		<div class="collapsible__content__inner">
			
			  	<div class="accordion__card__body">
			  		<div class="accordion__card__info">
			  			<p class="accordion__card__info__title">Обязанности:</p>
			  			<p class="accordion__card__info__text">Моделирование систем управления в MATLAB и реализация (совместно с программистом микропроцессоров / микроконтроллеров) алгоритмов управления гиростабилизированным подвесом для телекамер, установленных на беспилотном летательном аппарате. </p>
			  			<p class="accordion__card__info__title">Требования:</p>
			  			<p class="accordion__card__info__text">- Высшее техническое образование в области систем автоматического управления.
						- Опыт моделирования систем автоматического управления (САУ) в Matlab/Simulink (наличие проектов, в которых была создана реальная работоспособная система).
						- Знание устройства ПИД регулятора, фильтра Калмана и их программной реализации на микропроцессоре. 
						- Умение решать прямую и обратную задачу по скорости и положению для произвольного манипулятора. Опыт моделирования в MATLAB.
						- Умение подобрать датчики обратной связи, двигатели и прочие элементы САУ.
						- Знание методов настройки и верификации математической модели и реальной САУ.
						- Понимание принципов работы интерфейсов UART, SPI, CAN, I2C.
						- Опыт в работе по созданию методов повышения характеристик точности, реализация методов с использованием измерительных стендов.
						- Желателен опыт программирования микропроцессоров Texas Instruments TMS C2000 и алгоритмов управления бесколлекторных двигателей.
						- Знание английского языка на уровне свободного чтения технической литературы.
						</p>
						<p class="accordion__card__info__title">Условия:</p>
			  			<p class="accordion__card__info__text">
							Офис ул. Авиамоторная, 26/5 в 5 мин. пешком от ст. м. Авиамоторная или ж/д платф. Новая.
							Официальное трудоустройство по ТК РФ, "белая" заработная плата.
							График работы 5/2 с 9.00 до 18.00 или плавающий с 8.00/9.00/10.00 до 17.00/18.00/19.00, также может обсуждаться удаленная занятость.
							Возможно профессиональное обучение за счет компании.
							Бесплатная охраняемая автостоянка.
							Оборудованное помещение для приема пищи, неограниченный кофе-брейк.
							Интересная корпоративная жизнь (праздники, выезды, спортивные мероприятия).
							Корпоративный фитнес и полис ДМС.
							Помощь при переезде (для иногородних соискателей).
						</p>
						<div class="question__container">
			<input type="text" class="question__input" placeholder="ФИО" id = "fio5">
			<input type="text" class="question__input" placeholder="Номер телефона" id="numberPhone5">
			<input type="text" class="question__input" placeholder="Почта" id="mail5">
			<label class="label question__file">
				<span class="question__file__title">Загрузите файл для производства и описание в формате: doc, pdf.
				</span>
			    <input type="file" id="file5">
			</label>
		</div>
		<button class="question__button" onclick="sendMailClick(getter,'5','5','5','5')">ОТПРАВИТЬ</button>
			  		</div>
			    
			  </div>
				
	


			</div>
		</div>
	</div>












			  









		</div>

	</section> 
</div>



<footer class="center">
	<ul class="footerNav">
		<li class="footerNav__item">
			<a href="index.html" class="footerNav__link">ГЛАВНАЯ</a>
		</li>
		<li class="footerNav__item">
			<a href="about.html" class="footerNav__link">О КОМПАНИИ</a>
		</li>
		<li class="footerNav__item">
			<a href="products.html" class="footerNav__link">ПРОДУКЦИЯ</a>
		</li>
		<li class="footerNav__item">
			<a href="#" class="footerNav__link">КАРЬЕРА</a>
		</li>
		<li class="footerNav__item">
			<a href="contacts.html" class="footerNav__link">КОНТАКТЫ</a>
		</li>
	</ul>
</footer>





<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>
<script type="text/javascript">









	function onToggle(event) {
  if (event.target.open) {
    document.querySelectorAll(".accordion > details[open]").forEach((el) => {
      // Исключаем из перебора елемент который мы только что открыли
      if (el === event.target) {
        return;
      }

      // Закрываем все остальные елементы <details>
      el.open = false;
    });
  }
}

// Вешаем наблюдатель на все елементы <details> внутри акордиона
document
  .querySelectorAll(".accordion > details")
  .forEach((el) => el.addEventListener("toggle", onToggle));
const getter = "cleveratest@gmail.com"//СЮДА ПИШИ ПОЛУЧАЕТЕЛЯ ЕУУУУУУУУУ





</script>
 <script src="https://smtpjs.com/v3/smtp.js"></script>
<script type="text/javascript" src="../static/js/sender.js"></script>
</body>
</html>