<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="../static/css/headerFooter.css">
	<link rel="stylesheet" type="text/css" href="../static/css/development.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300,400,500,700,900&display=swap" rel="stylesheet">


	<title>Разработки</title>
</head>
<body>



<header class="center header">
	<div class="headerOuter">
		<nav class="header__nav">
			<a href="index.html" class="header__nav__link">ГЛАВНАЯ</a>
			<a href="about.html" class="header__nav__link">О КОМПАНИИ</a>
			<a href="#" class="header__nav__link">ПРОДУКЦИЯ</a>
			<a href="career.html" class="header__nav__link">КАРЬЕРА</a>
			<a href="contacts.html" class="header__nav__link">КОНТАКТЫ</a>
			<div class="header__rCont">
				<img src="../static/images/headerLogo.png" alt="" class="header__rCont__logo">
				<p class="header__rCont__text">Радиоэлектронные и оптические спецсистемы</p>
			</div>
		</nav>
	</div>
</header>

<div class="main center">	
	<div class="projects">
		<h1 class="pageTitle">РАЗРАБОТКА</h1>
		<p class="pageText">Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Dolorem, facere quidem cupiditate ducimus dicta excepturi ad incidunt adipisci ut at voluptatibus, assumenda, rerum tenetur eligendi voluptatem doloribus nisi, perspiciatis quasi dolorum obcaecati molestias libero suscipit neque. Autem aut tempore fugiat corrupti aliquam ipsa. Excepturi possimus unde vel maiores magnam facilis veritatis delectus perspiciatis ipsa, accusamus rem, eaque esse repudiandae asperiores saepe, dolorem. Perferendis, possimus, repellendus. Nemo, libero, cum. Voluptatibus, ea. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolorum ab laboriosam ad modi, a delectus necessitatibus autem. Qui, natus.</p>
		<div class="projects__picBlocks">
			<div class="projects__picBlocks__row">
				<div class="leftImage">
					<p class="leftImage__text">Проект "..." от 20.20.2056</p>
				</div>
				<div class="rImages">
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>

				</div>
			</div>
			<div class="projects__picBlocks__row">
				<div class="leftImage">
					<p class="leftImage__text">Проект "..." от 20.20.2056</p>
				</div>
				<div class="rImages">
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>

				</div>
			</div>
			<div class="projects__picBlocks__row">
				<div class="leftImage">
					<p class="leftImage__text">Проект "..." от 20.20.2056</p>
				</div>
				<div class="rImages">
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>

				</div>
			</div>
			<div class="projects__picBlocks__row">
				<div class="leftImage">
					<p class="leftImage__text">Проект "..." от 20.20.2056</p>
				</div>
				<div class="rImages">
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>

				</div>
			</div>
			<div class="projects__picBlocks__row">
				<div class="leftImage">
					<p class="leftImage__text">Проект "..." от 20.20.2056</p>
				</div>
				<div class="rImages">
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>

				</div>
			</div>
			<div class="projects__picBlocks__row">
				<div class="leftImage">
					<p class="leftImage__text">Проект "..." от 20.20.2056</p>
				</div>
				<div class="rImages">
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>

				</div>
			</div>
			<div class="projects__picBlocks__row">
				<div class="leftImage">
					<p class="leftImage__text">Проект "..." от 20.20.2056</p>
				</div>
				<div class="rImages">
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>

				</div>
			</div>
			<div class="projects__picBlocks__row">
				<div class="leftImage">
					<p class="leftImage__text">Проект "..." от 20.20.2056</p>
				</div>
				<div class="rImages">
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>

				</div>
			</div>
			<div class="projects__picBlocks__row">
				<div class="leftImage">
					<p class="leftImage__text">Проект "..." от 20.20.2056</p>
				</div>
				<div class="rImages">
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>

				</div>
			</div>
			<div class="projects__picBlocks__row">
				<div class="leftImage">
					<p class="leftImage__text">Проект "..." от 20.20.2056</p>
				</div>
				<div class="rImages">
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>
					<div class="rImages__item">
						<p class="rImages__item__text">Фото</p>
					</div>

				</div>
			</div>
		</div>
	</div>
	

</div>



<footer class="center">
	<ul class="footerNav">
		<li class="footerNav__item">
			<a href="index.html" class="footerNav__link">ГЛАВНАЯ</a>
		</li>
		<li class="footerNav__item">
			<a href="about.html" class="footerNav__link">О КОМПАНИИ</a>
		</li>
		<li class="footerNav__item">
			<a href="products.html" class="footerNav__link">ПРОДУКЦИЯ</a>
		</li>
		<li class="footerNav__item">
			<a href="career.html" class="footerNav__link">КАРЬЕРА</a>
		</li>
		<li class="footerNav__item">
			<a href="contacts.html" class="footerNav__link">КОНТАКТЫ</a>
		</li>
	</ul>
</footer>



</body>
</html>