<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="../static/css/headerFooter.css">
	<link rel="stylesheet" type="text/css" href="../static/css/product.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300,400,500,700,900&display=swap" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>


	<title>Продукция</title>
</head>
<body>
	<header class="center header">
		<div class="headerOuter">
			<nav class="header__nav">
				<a href="index.html" class="header__nav__link">ГЛАВНАЯ</a>
				<a href="about.html" class="header__nav__link">О КОМПАНИИ</a>
				<a href="#" class="header__nav__link">ПРОДУКЦИЯ</a>
				<a href="career.html" class="header__nav__link">КАРЬЕРА</a>
				<a href="contacts.html" class="header__nav__link">КОНТАКТЫ</a>
				<div class="header__rCont">
					<img src="../static/images/headerLogo.png" alt="" class="header__rCont__logo">
					<p class="header__rCont__text">Радиоэлектронные и оптические спецсистемы</p>
				</div>
			</nav>
		</div>
</header>





<div class="main center">	

	<section class="card__container">
		<h1 class="card__container__title">ПРОДУКЦИЯ</h1>


		<div class="modalProd__group">
			<div class="modalProd__item modalProd__item1 active">
				<p class="modalProd__item__name">Системы дальнего видеонаблюдения</p>
				
			</div>
			<div class="modalProd__inner modalProd__inner1">
				<a href="#" class="modalProd__inner__back"><</a> 
				<div class="modalProd__inner__list">
					<div class="modalProd__inner__item">
						<a href="#">ВЗГЛЯД</a>
					</div>
					<div class="modalProd__inner__item">
						<a href="#">ВЗГЛЯД-Н</a>
					</div>
					<div class="modalProd__inner__item">
						<a href="#">ЗОРКИЙ</a>
					</div>
					<div class="modalProd__inner__item">
						<a href="#">ЗОРКИЙ-Н</a>
					</div>
					<div class="modalProd__inner__item">
						<a href="#">ЗОРКИЙ-ИК</a>
					</div>
				</div>
			</div>
			<div class="modalProd__item  linked">
				<p class="modalProd__item__name">Мобильный привязной аэростатный комплекс</p>
			</div>
			<div class="modalProd__item linked">
				<p class="modalProd__item__name">Мобильный пункт управления</p>
			</div>
			<div class="modalProd__item modalProd__item2 active">
				<p class="modalProd__item__name">Гиростабилизированные оптико-электронные средства</p>
				
			</div>
			<div class="modalProd__inner modalProd__inner2">
				<a href="#" class="modalProd__inner__back"><</a> 
				<div class="modalProd__inner__list">
					<div class="modalProd__inner__item">
						<a href="#">ПГП-Д-Н</a>
					</div>
					<div class="modalProd__inner__item">
						<a href="#">ПГП-Н-Д</a>
					</div>
					<div class="modalProd__inner__item">
						<a href="#">СНЕГИРЬ</a>
					</div>
					<div class="modalProd__inner__item">
						<a href="#">СНЕГИРЬ-Н</a>
					</div>
					<div class="modalProd__inner__item">
						<a href="#">ВЕРТИКАЛЬ</a>
					</div>
				</div>
			</div>
			<div class="modalProd__item linked">
				<p class="modalProd__item__name">Робототехника</p>
			</div>
			<div class="modalProd__item modalProd__item3 active">
				<p class="modalProd__item__name">Разработки</p>
				
			</div>
			<div class="modalProd__inner modalProd__inner3">
				<a href="#" class="modalProd__inner__back"><</a> 
				<div class="modalProd__inner__list">
					<div class="modalProd__inner__item">
						<a href="#">Печатные платы</a>
					</div>
					<div class="modalProd__inner__item">
						<a href="#">Разработка ПО</a>
					</div>
					
				</div>
			</div>
		</div>




		<!--<div class="dropdown__group">
			<div class="dropdown">
				<p class="dropdown__title">Системы дальнего видеонаблюдения</p>
				<div class="dropdown__content">
					<ul class="dropdown__list">
						<li  class="dropdown__item">
							<a href="#openModal">ВЗГЛЯД</a>
						</li>
						<li class="dropdown__item">
							<a href="#openModal2">ВЗГЛЯД-Н</a>
						</li>
						<li class="dropdown__item">
							<a href="#openModal3">ЗОРКИЙ</a>
						</li>
						<li class="dropdown__item">
							<a href="#openModal4">ЗОРКИЙ-Н</a>
						</li>
						<li class="dropdown__item">
							<a href="#openModal5">ЗОРКИЙ-ИК</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="dropdown">
				<p class="dropdown__title">
					<a href="#openModal6">Мобильный привязной аэростатный комплекс</a>
				</p>
			</div>
			<div class="dropdown">
				<p class="dropdown__title">
					<a href="#">Мобильный пункт управления</a>
				</p>
			</div>
			<div class="dropdown">
				
				<div class="dropdown__content">
					<ul class="dropdown__list">
						<li class="dropdown__item">
							<a href="#">ПГП-Д-Н</a>
						</li>
						<li class="dropdown__item">
							<a href="#">ПГП-Н-Д</a>
						</li>
						<li class="dropdown__item">
							<a href="#openModal7">СНЕГИРЬ</a>
						</li>
						<li class="dropdown__item">
							<a href="#openModal8">СНЕГИРЬ-Н</a>
						</li>
						<li class="dropdown__item">
							<a href="#">ВЕРТИКАЛЬ</a>
						</li>
					</ul>
				</div>
				<p class="dropdown__title">Гиростабилизированные оптико-электронные средства</p>
			</div>

			<div class="dropdown">
				<p class="dropdown__title">
					<a href="#">Робототехника</a>
				</p>
			</div>
			<div class="dropdown">
				
				<div class="dropdown__content">
					<ul class="dropdown__list">
						<li  class="dropdown__item">
							<a href="#openModal">Разработка печатных плат</a>
						</li>
						<li class="dropdown__item">
							<a href="#">Разработка программного обеспечения</a>
						</li>
				
					</ul>
				</div>
				<p class="dropdown__title">Разработки</p>
			</div>
		</div>-->



	</section>
	







	<!--<section class="question">
		<h3 class="question__title">ЗАДАЙТЕ ВОПРОС</h3>
		<div class="question__container">
			<input type="text" class="question__input" placeholder="ФИО" id = "fio">
			<input type="text" class="question__input" placeholder="Номер телефона" id="numberPhone">
			<textarea type="text" class="question__textarea" placeholder="Описание проекта" id = "description"></textarea>
			<label class="label question__file">
				<span class="question__file__title">Загрузите файл для производства и описание в формате: doc, pdf.
				</span>
			    <input type="file" id="file">
			</label>
		</div>
		<button class="question__button" onclick="sendMailClick(getter)">ОТПРАВИТЬ</button>

	</section>-->
</div>




<footer class="center">
	<ul class="footerNav">
		<li class="footerNav__item">
			<a href="index.html" class="footerNav__link">ГЛАВНАЯ</a>
		</li>
		<li class="footerNav__item">
			<a href="about.html" class="footerNav__link">О КОМПАНИИ</a>
		</li>
		<li class="footerNav__item">
			<a href="#" class="footerNav__link">ПРОДУКЦИЯ</a>
		</li>
		<li class="footerNav__item">
			<a href="career.html" class="footerNav__link">КАРЬЕРА</a>
		</li>
		<li class="footerNav__item">
			<a href="contacts.html" class="footerNav__link">КОНТАКТЫ</a>
		</li>
	</ul>
</footer>


<script type="text/javascript">
	var allbuttons = document.querySelectorAll('.modalProd__item')
	var allmodals = document.querySelectorAll('.modalProd__inner')
	var button1 = document.querySelector('.modalProd__item1')
	var button2 = document.querySelector('.modalProd__item2')
	var button3 = document.querySelector('.modalProd__item3')
	var modal1 = document.querySelector('.modalProd__inner1')
	var modal2 = document.querySelector('.modalProd__inner2')
	var modal3 = document.querySelector('.modalProd__inner3')
	var back = document.querySelectorAll('.modalProd__inner__back')

	for(i=0;i<back.length;i++){
		back[i].addEventListener('click', function(){
		for(i=0;i<allmodals.length;i++){
			allmodals[i].style.display='none'
		}
		for(i=0;i<allbuttons.length;i++){
			allbuttons[i].style.display='flex'
		}
	})
	}
	
	button1.addEventListener('click', function(){
		modal1.style.display='block';
		for(i=0;i<allbuttons.length;i++){
			allbuttons[i].style.display='none'
		}

	})
	button2.addEventListener('click', function(){
		modal2.style.display='block'
		for(i=0;i<allbuttons.length;i++){
			allbuttons[i].style.display='none'
		}
	})
	button3.addEventListener('click', function(){
		modal3.style.display='block'
		for(i=0;i<allbuttons.length;i++){
			allbuttons[i].style.display='none'
		}
	})

console.log(allbuttons)

		
		$(document).ready(function(){
		let position = 0
            const slidesToShow = 1
            const slidesToScroll = 1
            const container =  $('.slider__container') 
            const track =  $('.slider__track') 
            const item =  $('.slider__item') 
            const btnLeft =  $('.slider__toggles__left') 
            const btnRight =  $('.slider__toggles__right') 
            const itemsCount = item.length
            const itemWidth = container.width() / slidesToShow

            const sliderRefresh = $('.card')

            sliderRefresh.click(function(){
                  position = 0
                  setPosition()
            })

            const movePosition = itemWidth * slidesToScroll

            item.each(function(index,item){
                  $(item).css({
                        minWidth: itemWidth,
                  })
            })

            btnRight.click(function(){
                  if(position <= -1320)
                        position = 0
                  else
                        position -= movePosition
                  setPosition()
                  
            })

            btnLeft.click(function(){
                  if (position === 0) 
                        position = -1320
                  else
                        position += movePosition
                  setPosition()     
                  
            })
            const setPosition = () => {
                  track.css({
                        transform: `translateX(${position}px)`
                  })
                  
            }
            


	})

const getter = "cleveratest@gmail.com"//СЮДА ПИШИ ПОЛУЧАЕТЕЛЯ ЕУУУУУУУУУ
</script>
 <script src="https://smtpjs.com/v3/smtp.js"></script>
<script type="text/javascript" src="../static/js/sender.js"></script>
</body>
</html>